{
	local_certs
	auto_https disable_redirects # This is required to avoid redirect loops when using a reverse proxy and cloud load balancers.
	{$CADDY_GLOBAL_OPTIONS}

	frankenphp {
		#worker /path/to/your/worker.php
		{$FRANKENPHP_CONFIG}
	}

	# https://caddyserver.com/docs/caddyfile/directives#sorting-algorithm
	order php_server before file_server
	order php before file_server
	order wp_cache before rewrite
	order request_header before wp_cache
}

{$CADDY_EXTRA_CONFIG}

## Need to set all hosts with port for the cloud.
# You may not have the hostname being called due to dynamic IPs and load balancers.
# Allowing all hosts on port 80 for health checks, local dev & cases where the hostname is unknown.
{$SERVER_NAME:localhost} {
	@static {
		file
		path *.ico *.css *.js *.gif *.jpg *.jpeg *.png *.svg *.woff
	}

	root * /var/www/html/
	encode br zstd gzip
	
	wp_cache {
		loc {$CACHE_LOC:/var/www/html/wp-content/cache}
		cache_response_codes {$CACHE_RESPONSE_CODES:2XX,404,405}
		ttl {$TTL:6000}
		purge_path {$PURGE_PATH:/__cache/purge}
		purge_key {$PURGE_KEY}
		bypass_home {$BYPASS_HOME:false}
		bypass_path_prefixes {$BYPASS_PATH_PREFIXES:/wp-admin,/wp-json}
	}

	{$CADDY_SERVER_EXTRA_DIRECTIVES}

	php_server
}
